.Recommendations__container {
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Recommendations__item {
    width: 35rem;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    border: 1px solid #a7a7a7;
    margin-bottom: 2rem;
}

.Recommendations__item img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

.Recommendation__text {
    padding: .5rem 2rem;
}

.Recommendation__text h4 {
    font-size: 3rem;
    text-align: center;
}

.Recommendation__text p {
    padding: .5rem 0;
    font-size: 1.2rem;
    text-align: justify;
}

.Recommendation__price {
    font-size: 1.7rem;
    text-align: end;
    padding: 2rem;
    padding-top: 0;
}